@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scrollbar-width: none; /* Firefox */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* input {
  @apply outline-none focus:outline-none focus:border-transparent focus:ring-2 border border-gray-300 rounded p-2;
} */

input {
  @apply outline-none focus:outline-none focus:border-gray-300 border border-gray-300 rounded p-2;
}
